@font-face {
  font-family: "Electrolux-Light";
  src: url("../fonts/Electrolux-Sans-Light.otf");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Electrolux-Regular";
  src: url("../fonts/Electrolux-Sans-Regular.otf");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Electrolux-Semibold";
  src: url("../fonts/Electrolux-Sans-Semibold.otf");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Electrolux-Bold";
  src: url("../fonts/Electrolux-Sans-Bold.otf");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  vertical-align: middle;
  font-feature-settings: "liga";
  margin-top: -2px;
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  margin-top: -2px;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding-left: 0px;
}

a,
a:hover {
  text-decoration: none !important;
}

a {
  outline: none;
}

img {
  border: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 100%;
  }
}
/*css starts now*/
body {
  background: #ff8e8e;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}